*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3aaf9f;
    padding: 0 10px;
}
.container{
    border: 2px solid black;
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 100px auto;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container .title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    color: rgb(2, 132, 89);
    text-transform: uppercase;
    text-align: center;
}
.container .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;

}
.container .form .input_field label{
    width: 200px;
    margin-right: 10px;
    font-size: 15px;
}
.container .form .input_field .input{
    border: 2px solid rgb(2, 132, 89);
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.container .form .input_field .btn{
    border: 0;
    width: 80%;
    font-size: 15px;
    background-color: rgb(2, 132, 89);
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0 , 0, 0.5) ;
    margin: 20px auto;
    padding: 8px 10px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}
.container .form .input_field:last-child
{
    margin-bottom: 0;
}
.container .form .input_field .btn:hover
{
    background: rgb(33, 168, 171);
}

@media (max-width: 420px)
{
    .container .form .input_field 
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .container .form .input_field label{
        margin-bottom: 5px;
    }
}